<toolbar></toolbar>
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav class="sidenav mat-elevation-z4" mode="side" opened="true">
    <nav-items></nav-items>
  </mat-sidenav>
  <div class="container">
    <mat-radio-group [(ngModel)]="toggle">
      <mat-radio-button [value]="false">Hide</mat-radio-button>
      <mat-radio-button [value]="true">Show</mat-radio-button>
    </mat-radio-group>
    <div [ngStyle]="{'float':'right'}">
      <mat-slide-toggle [(ngModel)]="toggle">Toggle View!</mat-slide-toggle>
    </div>

    <router-outlet *ngIf="toggle"></router-outlet>
  </div>
</mat-sidenav-container>