<div [style.padding.px]="10">
    <h2 class="mat-h2">📝 Agenda</h2>
    <mat-card>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Ahmedabad">
                    <mat-selection-list>
                        <mat-list-option *ngFor="let item of agenda">
                            {{item}}
                        </mat-list-option>
                    </mat-selection-list>
                </mat-tab>
                <mat-tab label="Pune">
                    <mat-selection-list>
                        <mat-list-option *ngFor="let item of agenda">
                            {{item}}
                        </mat-list-option>
                    </mat-selection-list>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>